<!DOCTYPE html>
<html>
  <head>
    <title>VanillaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user != nil %>
    <div>
      <ul>
        <li>
          <%=link_to "Edit Profile", edit_user_registration_path%>
        </li>
        <li>
          <%=link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
      <%else%>
        <li>
          <%=link_to "Sign up", new_user_registration_path%>
        </li>    
        <li>
          <%=link_to "Sign in", user_session_path%>
        </li>
      </ul>
    </div>
  <%end%>

  <div style="color: green;">
    <%= notice%>
  </div>

  <div style="color: red;">
    <%= alert %>
  </div>
    <%= yield %>
  </body>
</html>
